.p{
    /*设置字体*/
    font-family: 'Courier New', Courier, monospace;
    /*设置大小*/
    font-size: 24px;
    /*设置粗细:normal(普通) lighter(小) bold(大)*/
    font-weight: bold; 
    /*样式*/
    font-style: italic;
    /*行距*/
    line-height: 20px;
    
    /*
        font:style weight size/line-height font-family
    */


    /*字符间距*/
    letter-spacing: 10px;
    /*空格间距*/
    word-spacing: 20px;
    /*书写方向*/
    direction:ltr;/*右到左*/
    /*水平线
        overline        上
        line-through    中
        underline       下
    */
    text-decoration: aquamarine line-through;
    /*对齐
        center  left    right   justify(两端对齐)
    */
    text-align:center;
    /*文字缩进*/
    text-indent: 60px;
    /*英文大小写
        uppercase   全大
        lowercase   全小
        capitalize  首大

    */
    text-transform: uppercase;
    /*文字省略*/
    width: 300px;
    background-color: aqua;
    white-space: nowrap;/*不换行*/
    overflow: hidden;   /*截掉*/
    text-overflow: ellipsis;/*替换为省略号*/

}
/*  与图片结合的布局
    1.垂直对齐:top  center  bottom
    vertical-align:top
    2.环绕图片:
    float:left;
    3...
*/