a{
    color: aqua;
}
/*伪类
    初始状态        link   
    被访问          visited
    获得焦点        hover  
    点击            active 
*/
a:link {color: #FF0000}
a:visited {color: #00FF00}
a:hover {color: #FF00FF}
a:active {color: #0000FF}

