/*

        值              上下左右
        值 值           上下 左右
        值 值 值 值     上 下 左 右
内边距  padding 
外边距  margin
        有重叠问题:
        上下    值不同时取大
                解决方法:   1.float     2.display:inline-block
        嵌套    无内容时子盒不存在边距
                解决方法:   1.border    2.padding   3.float:hidden
*/
#a{
    width: 320px;
    height:240px;

    border: 2px solid #666;

    padding: 20px;
    margin:60px;

    background-color: aqua;
}
#b{
    width: 320px;
    height:240px;

    border: 2px solid #666;

    margin:20px;

    background-color: blueviolet;
}