

/*属性选择器

1.有属性的S标签

基本S[属性]{

}
2.属性=值的标签
[属性=值]{}

3.属性包含值的标签
[属性~=值]{}

4.属性以值开始的标签
[属性^=值]{}

5.属性以值结束的标签
[属性$=值]{}
*/

div{
    width: 160px;
    height:240px;
    background-color:#369;
}
/*所有div都被选择*/


div[id]{
    width: 160px;
    height:240px;
    background-color:#666;
}
/*有id属性的div被选择*/


div[class = "33"]{
    width: 160px;
    height:240px;
    background-color:#963;
}
/*属性class="33"的被选择*/

div[class~="44"]{
    width: 160px;
    height:240px;
    background-color:red;
}
/*属性class包含"44"的被选择*/