body{
    padding:0 5%;
}

a{
    text-decoration: none;
}
.topbar{
    border: 1px solid #666;
    height: 40px;
    background: #333333;
}
.topbar a{
    color: #666;
    font-size: 12px;
}
.topbar a:hover{
    color: aliceblue;
    font-size: 14px;
}
.container{
 
    margin:0 auto;
    width:1100px;
}
.container::before, .container::after{
    content:"";
    display:table;
}
.container::after{
    clear:both;
}
.topbar-nav{
    float:left;
    height: 40px;
    line-height: 40px;
    font-size: 0;
}
.topbar-nav span{
    font-size: 12px;
    color:#666;
    width:0.8px;
}
.topbar-info,.topbar-cart{
    float:right;
}
.topbar-cart a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 120px;
}
.topbar-cart a:hover{
    color:#ff6000;
    background-color: #fff;
}
.topbar-cart span{
    margin-left: -4px;
    font-size: 12px;
}
.topbar-info a{
    float:left;
    padding:0 5px;
    line-height: 40px;
    height: 40px;
}
.topbar-info span{
    float:left;
    font-size: 12px;
    color:#424242;
    line-height: 40px;
    height: 40px;
}


.header{
    height: 100px;
}
.header-logo{
    float: left;
    width: 62px;
    height: 55px;
    margin-top: 22px;
    

}
.header-logo a{
    display:block;
    width: 55px;
    height: 55px;
    background: #ff6000 url(../img/mi-logo.png) no-repeat 50% 50%;
}
.header-nav{
    float: left;
    width: 640px;
}
.header-search{
    float: right;
    height: 50px;
    margin-top: 25px;
    padding-right:5%;
    margin: 40px 20px;
    
}

ul{
    list-style-type:none;
}

.header-nav, .nav-list, .nav-item{
    float: left;
    display: block;
    padding: 10px;
}

.header-search>.text{
    width: 240px;
    height:32px;
}
.header-search>.sub{
    width: 54px;
    height:28px;
    
}
.nav-item a:hover{
    color: aqua;
}
.seckill-head{
    width: 1100px;
    height: 125px;
    background:#FFFFFF url("../img/seckill-head.jpg") no-repeat 50% 50%;
}
.seckill-body>ul li{
    display:block;
    float: left;
    widows: 25%;
    height: 275px;
    margin: 3%;

}
.seckill-body>ul>li>img{
    height: 275px;
}
.seckill-body>ul>li>img:hover{
    height: 280px;
}
#tab li{
    width: 25%;
    height: 38px;
    float:left;
    text-align: center;
    font-size: 24px;
    padding: 18px 0;
    cursor: pointer;
}

.active{
    width: 24px;
    height: 80px;
    background: #ff6000;
    
}
.seckill-body ul{
    display: none;
}
.seckill-body .play{
    display: block;
}